.container {
  background-color: #ffffff;
  margin:25px auto;
  padding: 15px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0px 10px 15px #1d0a884d;
  text-align: center;
}

@media (min-width:700px) {
  .container{
    width: 40%;
  }
} 

.tituloTodonico {
  margin: 15px 0px;
}

.tituloTodonico span {
  color:#1926bc;
}

.nuevaTarea, .tareaPendiente {
  background-color:#e0e2f0;
  color:#ffffff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: left;
}

.nuevaTarea input, .nuevaTarea select  {
  width: 100%;
  margin-bottom: 10px;
  height:40px;
  border-radius: 10px;
  border:none;
  background-color: #c7cbe5;
  color: aliceblue;
}

.nuevaTarea input::placeholder, select option {
  color: #698093;
  text-align: center;
  border: none;
}

.nuevaTarea input[type='textarea']{
  height: 80px;
 }

.dosColumnas {
  display: flex;
}

.dosColumnas select, .dosColumnas input {
  flex:1;
  color: #698093;
  margin-bottom: 0px !important;
}

.dosColumnas input {
  margin-left: 10px;
  background-color: #0b0e22;
  color:#ffffff;
}
