top* {
  padding: 0px;
  margin: 0px;
}

html {
  background-color: #f7f8ff;
  font-family: 'Poppins', sans-serif;
  color: #0b0e22;
}

.botonAnimacion {
  top:0px;
  position: relative;
  transition: 0.5s;
  box-shadow: 0px 0px 0px #1d0a884d;
}

.botonAnimacion:hover {
  top:-5px;
  background-color: #1b2885;
  box-shadow: 0px 10px 15px #1d0a884d;
}

